
html {
  --background_primary: #4b4b4b;
  --background_secondary: #5d4e5c;

  --header_background: #3d3540;

  --accent: #a678d3;
  --accent_saturated: #9730fd;

  --main_background: #453e48;
  --main_text: #d3d3d3;
  --main_shadow: #48444a;
  --main_shade_accent: #382f3b;

  --code_background: #4a424d;
  --code_shade: #403943;

  font-size: max(12px, 2vh);

  background: repeating-linear-gradient(
    315deg,
    var(--background_primary),
    var(--background_primary) 30px,
    var(--background_secondary) 30px,
    var(--background_secondary) 60px
  );

  text-rendering: optimizeLegibility;
}

body {
  background: repeating-linear-gradient(
    315deg,
    var(--background_primary),
    var(--background_primary) 40px,
    var(--background_secondary) 40px,
    var(--background_secondary) 80px
  );

  font-family: "Inter";

  color: var(--main_text);
  margin: 0;
}

section.grid_container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr) ;
  grid-template-rows: 6vh auto 6vh auto 5vh auto 3vh auto;
  grid-template-areas:
    "logo nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav "
    "logo nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav "
    "pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin "
    "pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin "
    ".    .    .    .    .    .    .    .    .    .    .    .   "
    ".    main main main main main main main main .    .    .   "
    ".    .    .    .    .    .    .    .    .    .    .    .   "
    "foot foot foot foot foot foot foot foot foot foot foot foot";

  grid-gap: 0;
  margin: 0;
  box-sizing: border-box;

}
header {
  background-color: var(--header_background);
}
header.logo {
  background-color: var(--header_background);
  grid-area: logo;

}

header.logo a {
  color: var(--accent);
}

nav.sitenav {
  box-sizing: border-box;
  grid-area: nav;

  background-color: var(--header_background);
  display: flex;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 2vh;
}

#sitenav_pseudoborder {
  grid-row: 2 / span 1;
  grid-column: 1 / span 12;
  border-bottom:
    dashed
    0.1rem
    var(--accent);
  z-index: 1;
}

#pins_pseudoborder {
  grid-row: 4 / span 1;
  grid-column: 1 / span 12;
  margin-bottom: -0.1rem;
  border-bottom:
    dashed
    0.1rem
    var(--accent);
  z-index: 1;

}

.pins nav a, .pins {
  z-index: 2;
}

nav a {
  box-sizing: border-box;
  grid-column-end: span 1;
  font-size:
    1.5rem;

  text-align: center;

  padding:
    0.5rem      /* top right bottom left*/
    1rem
    0.5rem
    1rem;

  color: var(--accent);

  font-weight:
    300;
  text-decoration:
    none;
  text-transform:
    uppercase;

  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
  border-bottom:
    dashed
    0.1rem
    var(--accent);
  border-left:
    dashed
    0.1rem
    var(--accent);

}

nav > a:hover {
  color: var(--accent_saturated);
  border-right: dashed 0.1rem var(--accent_saturated);
  border-left: dashed 0.1rem var(--accent_saturated);
  border-bottom: solid 0.2rem var(--accent_saturated);
  margin-bottom: -0.1rem;
}

nav > a:hover:last-child {
  border-right: none;
}

nav > a:hover + a {
  border-left: 0;
}

nav > a:first-child {
  border-left: 0;
}

.pins {

  font-size: 2vh;
  grid-area: pin;


  background: repeating-linear-gradient(
    45deg,
    var(--main_background),
    var(--main_background) 1.2rem,
    var(--header_background) 1.2rem,
    var(--header_background) 2.4rem
  );

  box-shadow: 0 -0.1rem inset var(--main_background);

  display: flex;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;

  background-size: 150% 100%;
  animation: pins_scroller 0.5s linear infinite;
}

.pins .pin_label {
  font-size: 1.0rem;

  padding:
    0.5rem      /* top right bottom left*/
    1rem
    0.5rem
    1rem;
}

@keyframes pins_scroller {
  from {
    background-position: -3.3941125497rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.pins > div {
  font-size: 1.4rem;
}

footer {
  grid-area: foot;

  width: auto;

  border-top: 0.1rem dashed var(--accent);
  padding: 0.6rem;
  font-size: 1.4rem;

  text-align: left;
}

footer a {
  color: var(--accent);
}


.logo {
    text-align: left;
    float: left;
}

.logo a {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0em;
  text-decoration: none;

  line-height: 1em;

  color: var(--accent_saturated);
}

main {
  grid-area: main;

  color: var(--main_text);
  background-color: var(--main_background);
  min-height: 50vh;

  box-shadow: -2rem 2rem var(--main_shadow), inset 0.4rem 0 var(--main_shade_accent);
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  font-size: 1vw;

  display: grid;

  grid-template-columns: 1vw 1fr 1vw;
  grid-template-rows: 2.5rem auto;
  grid-column-gap: 5vh;
}


main > .mainbar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;

  --mainbar_font_size: 1.2rem;
  --mainbar_vertical_pad: 0.5rem;

  padding-left: 1rem;
  padding-top: var(--mainbar_vertical_pad);
  padding-bottom: var(--mainbar_vertical_pad);

  font-size: var(--mainbar_font_size);

  background: var(--header_background);

  border-top: 0.1rem solid var(--accent);
  border-bottom: 0.1rem dashed var(--accent);
  box-shadow: inset 0.4rem 0 var(--main_shade_accent);
}

main h1, h2, h3, h4 {
  color: var(--accent);
  margin-bottom: 0;
  margin-top: 1rem;
}

main  p {
  margin-bottom: 0.5rem;
}

main  h1 {
  font-size: 2.4em;
}

main > h1:first-of-type {
  margin-top: 2.2em;
}

main  h2 {
  font-size: 1.6em;
}

main  h3 {
  font-size: 1.3em;
}

article h1 ~ p {
  padding-left: 1em;
}

main > * {
  grid-column: 2 / span 1;
  grid-row-end: span 1;
  grid-column: 2 / span 1;
}
article  {
  margin-top: 3vh;
  grid-row-end: span 1;
  grid-column: 2 / span 1;
}
article > p, main > p {
  font-size: 1.2em;
}

main a {
  color: var(--accent);
}

article a:hover {
  color: var(--accent_saturated);
}

article > header {
  padding: 1em;

  margin-bottom: 2em;
  box-shadow: 0rem 0.8em var(--main_shade_accent);
  max-width: 80%;
}

article > header h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  padding: 0.3em;
  font-size: 2.4em;
}

article > header h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;

  padding: 0.3em;
  font-size: 2.2em;
  font-style: italic;
  font-weight: 500;
}

article > header .date {

  color: var(--main_text);
  font-size: 0.8rem;
  border-top: 0.1rem dashed var(--main_text);
  padding-top: 0.5em;
}
article > header .date > time {
  font-size: 0.8rem;
  font-weight: 200;
}

article.post_preview {
  font-size: 1.0em;
  padding: 1rem;
  border-bottom: 0.1rem dashed var(--accent);

}

article.post_preview > header {
  border: 0.1rem dashed var(--accent);
}

article.post_preview > header:hover {
  border: 0.1rem dashed var(--accent_saturated);
}

article.post_preview > header:hover  h1 {
  color: var(--accent_saturated);
}

article.post_preview > header > a {
  text-decoration: none;
}

.sourceCode {
  margin:0;
}

.sourceCode + p {
  margin-top: 1.5rem;
}
.sourceCode + .sourceCode {
  margin-top: 0.5rem;
}

code {
  font-family: "Iosevka Web";
  --keyword: #7b5bbd;
  --comment: #6c656e;

}
.haskell .dt {
  color: var(--accent);
  font-weight: 500;
}
.haskell .kw {
  color: var(--keyword);
  font-weight: 500;
}
.haskell .op {
  color: var(--keyword);
  font-weight: 600;
}
.haskell .co {
  color: var(--comment);
  font-style: italic;
}

/*********************************************************************************/

main.Contact ul  {
  list-style-type: none;
}
main.Contact li  {
  border: 0.1rem dashed var(--accent);
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;

  margin-bottom: 1.5rem;
}

main.Contact li h2 {
  font-weight: 300;
  margin-bottom: 1rem;
}

main.Contact li a {
  margin-left: 1rem;
  font-size: 1.4em;
  font-weight: 500;
}

main.Contact li em {
  margin-left: 1rem;
  font-size: 1.4em;
  font-weight: 300;
}

/********************************************************************************/

article > .sourceCode {
  font-size: 1.4vmin
  padding-left: 1.0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 1.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--code_background);
  box-shadow: 0rem 0.6rem var(--code_shade);
  border: 1px dashed var(--accent);
  width: min-content;
  max-width: 80%;
  overflow-x: auto;
}

input#imports_toggle ~ .sourceCode:first-of-type{
  height: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#imports_toggle {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}
label[for=imports_toggle] {
  font-weight: bold;
}

label[for=imports_toggle]:hover{
  color: var(--accent);
}

input#imports_toggle:checked ~ label::before {
  content:"Hide ";
}

input#imports_toggle ~ label::before {
  content:"Show ";
}

input#imports_toggle:checked ~ .sourceCode {
  height: unset;
  visibility: unset;
  padding-left: 1.0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
