
html {
  --background_primary: #4b4b4b;
  --background_secondary: #5d4e5c;

  --header_background: #3d3540;

  --accent: #a678d3;
  --accent_saturated: #9730fd;

  --main_background: #453e48;
  --main_text: #d3d3d3;
  --main_shadow: #48444a;
  --main_shade_accent: #382f3b;

  --code_background: #4a424d;
  --code_shade: #403943;

  box-sizing: border-box;

  font-size: 2vh;

  background: repeating-linear-gradient(
    315deg,
    var(--background_primary),
    var(--background_primary) 30px,
    var(--background_secondary) 30px,
    var(--background_secondary) 60px
  );

  text-rendering: optimizeLegibility;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: repeating-linear-gradient(
    315deg,
    var(--background_primary),
    var(--background_primary) 40px,
    var(--background_secondary) 40px,
    var(--background_secondary) 80px
  );

  font-family: "Inter";

  color: var(--main_text);
  margin: 0;
  min-height: 100vh;
}

section.grid_container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr) ;
  grid-template-rows: 6vh auto 6vh auto 5vh auto 3vh auto;
  grid-template-areas:
    "logo nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav "
    "logo nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav "
    "pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin "
    "pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin  pin "
    ".    .    .    .    .    .    .    .    .    .    .    .   "
    ".    main main main main main main main main main main .   "
    ".    .    .    .    .    .    .    .    .    .    .    .   "
    "foot foot foot foot foot foot foot foot foot foot foot foot";

  grid-gap: 0;
  margin: 0;
  box-sizing: border-box;

}
header {
  background-color: var(--header_background);
}
header.logo {
  background-color: var(--header_background);
  grid-area: logo;

}

header.logo a {
  color: var(--accent);
}

nav.sitenav {
  box-sizing: border-box;
  grid-area: nav;

  background-color: var(--header_background);
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 2vh;
}

nav a {
  z-index 1;
}

#sitenav_pseudoborder {
  z-index: 3;
  grid-row: 3 / span 1;
  grid-column: 1 / span 12;
  border-top:
    dashed
    1px
    var(--accent);
  height: 0;

  margin-top:-1px;
}

#sitenav_pseudoborder2 {
  z-index: 2;
  grid-row: 3 / span 1;
  grid-column: 1 / span 12;
  border-top:
    solid
    1px
    var(--header_background);
  height: 0;

  margin-top:-1px;
}

#pins_pseudoborder {
  height: 0;
  grid-row: 5 / span 1;
  grid-column: 1 / span 12;
  margin-top:-1px;
  border-top:
    dashed
    1px
    var(--accent);
  z-index: 3;

}

#pins_pseudoborder2 {
  height: 0;
  grid-row: 5 / span 1;
  grid-column: 1 / span 12;
  margin-top:-1px;
  border-top:
    solid
    1px
    var(--main_background);
  z-index: 2;

}


nav a {
  grid-column-end: span 1;
  height: 6vh;
  overflow: clip;
  font-size:
    1.5rem;

  text-align: center;

  padding:
    0.5rem      /* top right bottom left*/
    1rem
    0.5rem
    1rem;

  color: var(--accent);

  font-weight:
    300;
  text-decoration:
    none;
  text-transform:
    uppercase;
  /*
  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
  */
  border-bottom:
    dashed
    1px;
    var(--accent);
  border-left:
    dashed
    1px;
    var(--accent);

}

nav > a:hover {
  z-index: 4;

  font-size:
    1.5rem;
  color: var(--accent_saturated);
  border-left: dashed 1px var(--accent_saturated);
  margin-left: -1px;
  border-right: dashed 1px var(--accent_saturated);
  margin-right: -1px;
  border-bottom: solid 3px var(--accent_saturated);
}

nav > a:hover:before {
  content: "";
  margin-left: 1px;
}

nav > a:hover:last-child {
  border-right: none;
  margin-right: 0;
}


nav > a:hover + a {

}

nav > a:first-child {
  border-left: 0;
}


nav.pins {

  font-size: 2vh;
  grid-area: pin;

  background: repeating-linear-gradient(
    45deg,
    var(--main_background),
    var(--main_background) 1.2rem,
    var(--header_background) 1.2rem,
    var(--header_background) 2.4rem
  );

  box-shadow: 0 -0.1rem inset var(--main_background);

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  background-size: 150% 100%;
  animation: pins_scroller 0.5s linear infinite;
}

@keyframes pins_scroller {
  from {
    background-position: -3.3941125497rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.pins > div {
  font-size: 1.4rem;
}

footer {
  grid-area: foot;

  width: auto;

  border-top: 0.1rem dashed var(--accent);
  padding: 0.6rem;
  font-size: 1.4rem;

  text-align: left;
}

footer a {
  color: var(--accent);
}


.logo {
    text-align: left;
    float: left;
}

.logo a {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0em;
  text-decoration: none;

  line-height: 1em;

  color: var(--accent_saturated);
}

main {
  grid-area: main;
  overflow-wrap: break-word;
  overflow: hidden;


  color: var(--main_text);
  background-color: var(--main_background);
  min-height: 50vh;

  box-shadow: -4vw 4vw var(--main_shadow), inset 8px 0 var(--main_shade_accent);
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  font-size: 18px;

  display: grid;

  grid-template-columns: 1fr 14fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0;

}


main > .mainbar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  height: min-content;

  --mainbar_font_size: max(1.8vh, 8px);
  --mainbar_vertical_pad: max(0.25vh, 4px);

  padding-left: 1em;
  padding-top: var(--mainbar_vertical_pad);
  padding-bottom: var(--mainbar_vertical_pad);

  font-size: var(--mainbar_font_size);

  background: var(--header_background);

  border-top: 1px solid var(--accent);
  border-bottom: 1px dashed var(--accent);
  box-shadow: inset 8px 0 var(--main_shade_accent);
}


main h1, h2, h3, h4 {
  color: var(--accent);
  margin-bottom: 0;
}

main  p {
  margin-bottom: 0.5em;
}

main  h1 {
  font-size: 2.2em;
}

main > h1:first-of-type {
  margin-top: 2.0rem;
}

main  h2 {
  font-size: 1.6em;
}

main  h3 {
  font-size: 1.3em;
}

main > article  {
  overflow: hidden;
  overflow-wrap: break-word;
  margin-top: 3vh;
  grid-row-end: span 1;
  grid-column: 2 / span 1;
}
article > p, main > p {
  font-size: 1.2em;
}

main a {
  color: var(--accent);
}

article a:hover {
  color: var(--accent_saturated);
}

article > header {
  padding: 1em;

  margin-bottom: 2em;
  box-shadow: 0rem 0.8em var(--main_shade_accent);
}

article > header h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  padding: 0.3em;
  font-size: min(2.4em, 6vw);
}

article > header h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;

  padding: 0.3em;
  font-size: 2.2em;
  font-style: italic;
  font-weight: 500;
}

article > header > .header_info {
  display: grid;
  grid-template-columns: auto auto;

  color: var(--main_text);
  font-size: clamp(10px, 1.2vh, 22px);


  border-top: 0.1rem dashed var(--main_text);
  padding-top: 0.5em;
}

article > header > .header_info > .info_label {
  grid-column: 1 / span 1;
  margin-bottom: 0.3em;
  margin-right: 1.2em;
}

article > header > .header_info > .info_data {
  grid-column: 2 / span 1;
  font-weight: 200;
}

article > header > .header_info > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


article.post_preview {
  font-size: 1.0em;
  padding: 1rem;
  border-bottom: 0.1rem dashed var(--accent);

}
/*
article.post_preview > header {
  border: 0.1rem dashed var(--accent);
}

article.post_preview > header:hover {
  border: 0.1rem dashed var(--accent_saturated);
}
*/
article.post_preview > header:hover  h1 {
  color: var(--accent_saturated);
}

article.post_preview > header > a {
  text-decoration: none;
}

.sourceCode {
  margin:0;
}

.sourceCode + p {
  margin-top: 1.5rem;
}
.sourceCode + .sourceCode {
  margin-top: 0.5rem;
}

code {
  font-family: "Iosevka Web";
  --keyword: #7b5bbd;
  --comment: #6c656e;

}
.haskell .dt {
  color: var(--accent);
  font-weight: 500;
}
.haskell .kw {
  color: var(--keyword);
  font-weight: 500;
}
.haskell .op {
  color: var(--keyword);
  font-weight: 600;
}
.haskell .co {
  color: var(--comment);
  font-style: italic;
}

/*********************************************************************************/
hr {
  border: 0;
  border-top: 2px dashed var(--accent);
  border-bottom: 4px solid var(--code_shade);
  margin-top: 2rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

figcaption {
  font-style: italic;
  padding: 0.5em;
}




/********************************************************************************/

article > .sourceCode {
  font-size: max(1.4vmin, 12px);
  padding-left: 1.0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 1.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--code_background);
  box-shadow: 0rem 0.6rem var(--code_shade);
  border: 1px dashed var(--accent);

  overflow-x: auto;
  overflow-wrap: none;
}


input#imports_toggle ~ .sourceCode:first-of-type{
  height: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#imports_toggle {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}
label[for=imports_toggle] {
  font-weight: bold;
}

label[for=imports_toggle]:hover{
  color: var(--accent);
}

input#imports_toggle:checked ~ label::before {
  content:"Hide ";
}

input#imports_toggle ~ label::before {
  content:"Show ";
}

input#imports_toggle:checked ~ .sourceCode {
  height: unset;
  visibility: unset;
  padding-left: 1.0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/********************************************************************************/
article.datalist {
  font-size: clamp(10px, 1.4rem, 28px);
}
article.datalist > ul {
  padding: 0;
}
article.datalist > ul > li {
  list-style-type: "";
}
article.datalist > ul > li {
  margin: 0.5em;
  padding: 0;
  box-shadow: inset 0 -4px var(--header_background), inset 4px 0 var(--header_background);
}
article.datalist li > h1 {
  font-size: 1.2em;
  background-color: var(--header_background);
  padding: 0.25em 0.5em 0.3em 0.5em;
  margin: 0;
  box-shadow: 0 4px var(--main_shade_accent), inset 4px 0 var(--main_shade_accent);
}
article.datalist li > * {
  font-size: 0.8em;
  margin: 0;
  padding: 0.6em 0.6em 0.6em 0.6em;
  display: block;
}

article.datalist a {
  font-family: "Iosevka Web";
  font-size: 1.4em;
  font-weight: 600;
}
article.datalist ul > li > ul {
  list-style-position: inside;
  padding: 0.5em;
}
