<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$site_title$ - $title$</title>
        <link rel="stylesheet" href="$css_url$/base.css" />
        <link rel="stylesheet" href="$fonts_url$/fonts.css">
    </head>
    <body>
        <section class="grid_container">
            <header class="logo">
                <a href="/">$site_title$</a>
            </header>

            <nav class="sitenav" aria-label="Site Menu">
                <a href="/">Home</a>
                <a href="$about_url$">About Me</a>
                <a href="$posts_url$">Posts</a>
                <a href="$projects_url$">Projects</a>
                <a href="$contact_url$">Contact</a>
            </nav>
            <div id="sitenav_pseudoborder">
            </div>


            <nav class="pins" aria-label="Pinned Links">
                $for(pins)$
                $if(pin_first)$
                    <section class='pin_label'> Things you might want to take a look at: </section>
                $endif$
                    <a href="$pin_url$">$pin$</a>
                $endfor$
            </nav>
            <div id="pins_pseudoborder">
            </div>


            <main role="main" class="$title$">
                <div class="mainbar">
                    $if(nopagetitle)$
                    $else$
                        ~/$path$
                    $endif$
                </div>
                $body$
            </main>

            $footer$
        </section>
    </body>
</html>
